<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preload" href="/fonts/goldpost.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/goldpost.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/MD038.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="/fonts/MD038.woff2" as="font" type="font/woff2" crossorigin>