{{ define "main" }}
<article class="grid-wrap">
    {{ partial "header.html" . }}
    <div class="spacer__sm"></div>
    <div class="grid-wrap__text">
        <h1>Writing</h1>
        <div class="spacer__sm"></div>
        {{ .Content }}
        <div class="article-list project-list">
            {{ range sort .Pages.ByWeight }}
                <div class="list-item fbr">
                    {{ $yr := (time.AsTime (.Param "published")).Year }}
                    <!-- {{ $mo := (time.AsTime (.Param "published")).Month | int }} -->
                    {{ $mo := time.AsTime (.Param "published") }}
                    {{ $mo := time.Format "Apr" $mo }}

                    <div class="hide-b-sm">
                        <div class="subtle meta-span-block f-0 fbr">
                            <span>{{ $mo }} {{ $yr }}</span>
                        </div>
                    </div>    
                    
                    <div class="f-1">
                        <h2 class="fs-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                        <div class="hide-a-sm">
                            <div class="subtle meta-span-block f-0 fbr">
                                <span>{{ $mo }}</span><span>-</span><span>{{ $yr }}</span>
                            </div>
                        </div>
                        <!-- <p class="fw-3">{{ .Description }}</p> -->
                    </div>
                </div>
            {{ end }}
        </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    {{ partial "grid-paper.html" .}}
</article>


{{ end }}
