/* ------------------------------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, 
/* u, i,  */
center, dl, dt, dd, 
/* ol, ul, li, */
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------ */

/* Styles */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  background: var(--color-bg);
  position: relative;

  font-size: var(--font-size);
  line-height: var(--cell-size);
  font-family: var(--font-serif);
  color: var(--text-body-color);
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(2 * var(--cell-size)) 0;
  flex-direction: column;
}

@media screen and (max-width: 832px) {
  main {
    padding: 0;
  }
}

/* Grid */

.grid-lines__container {
  z-index: 0;
  position: absolute;
  inset: 0%;
  margin: -1px -1px 2px -1px;
  opacity: 0.33;
}

.grid-lines {
  width: 100%;
  height: 100%;
  background-size: var(--cell-size) var(--cell-size);
  background-image: linear-gradient(
      to right,
      var(--grid-line-color) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
}

.grid-wrap {
  margin: 0;
  padding: calc(calc(var(--grid-padding) * var(--cell-size)) - 1px)
    calc(var(--grid-padding) * var(--cell-size))
    calc(var(--grid-padding) * var(--cell-size))
    calc(var(--grid-padding) * var(--cell-size));
  width: 100%;
  max-width: calc(var(--cell-size) * var(--grid-cells));
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.grid-wrap__text {
  z-index: 1;
  position: relative;
}

.grid-wrap .rich-text {
  padding: 0 calc(4px * var(--scale-factor));
}

/* Header */

header {
  box-shadow: 0px 1px 0px var(--color-grid-line);
  padding: 0;
  position: relative;
  z-index: 2;
}

/* Footer */

footer {
  margin: 0;
  padding: 0px calc(3 * var(--cell-size)) calc(3 * var(--cell-size))
    calc(3 * var(--cell-size));
  width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

footer .copyright-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

footer .typemark {
  height: 24px;
}

.subtle {
  color: var(--text-color-light);
}

.thin {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

/* Figures */

figure {
  margin-block: var(--cell-size);
}

figcaption p {
  margin: 0px;
}

figcaption {
    color: var(--text-color-light);
}

figure img {
  display: block;
  width: 100%;
}

/* Spacers */

.spacer__sm {
  height: calc(var(--cell-size) * 1);
}
.spacer__md {
  height: calc(var(--cell-size) * 2);
}
.spacer__lg {
  height: calc(var(--cell-size) * 3);
}
.spacer__xl {
  height: calc(var(--cell-size) * 4);
}
