/* General  */

* { box-sizing: border-box; }

/* ARIA */
.visually-hidden { display: none; }


/* Positioning & Display */

.pos-r { position: relative; }

.d-in { display: inline; }
.d-ib { display: inline-block; }
.d-b { display: block; }
.d-fb { display: flex; }
.d-fb-r {
  display: flex;
  flex-direction: row;
}
.d-fb-c {
  display: flex;
  flex-direction: column;
}

.jc-s { justify-content: start;}
.jc-c { justify-content: center; }
.jc-e { justify-content: end; }
.jc-sb { justify-content: space-between; }
.jc-sa { justify-content: space-around; }

.ai-s { align-items: start; }
.ai-c { align-items: center; }
.ai-e { align-items: end; }

.fw-w { flex-wrap: wrap; }
.fw-wr { flex-wrap: wrap-reverse; }
.fw-nw { flex-wrap: nowrap; }

/* Hide above breakpoint */
@media (min-width: 480px) {
  .hide-a-sm { display: none !important; }
}
@media (min-width: 768px) {
  .hide-a-md { display: none !important; }
}
@media (min-width: 992px) {
  .hide-a-lg { display: none !important; }
}
@media (min-width: 1200px) {
  .hide-a-xl { display: none !important; }
}

/* Hide below breakpoint */
@media (max-width: 479px) {
  .hide-b-sm { display: none !important; }
}
@media (max-width: 767px) {
  .hide-b-md { display: none !important; }
}
@media (max-width: 991px) {
  .hide-b-lg { display: none !important; }
}
@media (max-width: 1199px) {
  .hide-b-xl { display: none !important; }
}

/* Scroll margin */

[id] { scroll-margin-top: 4em; }

/* Padding */

.p-a-0 { padding: 0em; }
.p-t-0 { padding-top: 0em; }
.p-r-0 { padding-right: 0em; }
.p-b-0 { padding-bottom: 0em; }
.p-l-0 { padding-left: 0em; }
.p-bl-0 { padding-block: 0em; }
.p-in-0 { padding-inline: 0em; }

.p-a-025 { padding: 0.25em; }
.p-t-025 { padding-top: 0.25em; }
.p-r-025 { padding-right: 0.25em; }
.p-b-025 { padding-bottom: 0.25em; }
.p-l-025 { padding-left: 0.25em; }
.p-bl-025 { padding-block: 0.25em; }
.p-in-025 { padding-inline: 0.25em; }

.p-a-050 { padding: 0.50em; }
.p-t-050 { padding-top: 0.50em; }
.p-r-050 { padding-right: 0.50em; }
.p-b-050 { padding-bottom: 0.50em; }
.p-l-050 { padding-left: 0.50em; }
.p-bl-050 { padding-block: 0.50em; }
.p-in-050 { padding-inline: 0.50em; }

.p-a-075 { padding: 0.75em; }
.p-t-075 { padding-top: 0.75em; }
.p-r-075 { padding-right: 0.75em; }
.p-b-075 { padding-bottom: 0.75em; }
.p-l-075 { padding-left: 0.75em; }
.p-bl-075 { padding-block: 0.75em; }
.p-in-075 { padding-inline: 0.75em; }

.p-a-100 { padding: 1em; }
.p-t-100 { padding-top: 1em; }
.p-r-100 { padding-right: 1em; }
.p-b-100 { padding-bottom: 1em; }
.p-l-100 { padding-left: 1em; }
.p-bl-100 { padding-block: 1em; }
.p-in-100 { padding-inline: 1em; }

.p-a-125 { padding: 1.25em; }
.p-t-125 { padding-top: 1.25em; }
.p-r-125 { padding-right: 1.25em; }
.p-b-125 { padding-bottom: 1.25em; }
.p-l-125 { padding-left: 1.25em; }
.p-bl-125 { padding-block: 1.25em; }
.p-in-125 { padding-inline: 1.25em; }

.p-a-150 { padding: 1.5em; }
.p-t-150 { padding-top: 1.5em; }
.p-r-150 { padding-right: 1.5em; }
.p-b-150 { padding-bottom: 1.5em; }
.p-l-150 { padding-left: 1.5em; }
.p-bl-150 { padding-block: 1.5em; }
.p-in-150 { padding-inline: 1.5em; }

.p-a-175 { padding: 1.75em; }
.p-t-175 { padding-top: 1.75em; }
.p-r-175 { padding-right: 1.75em; }
.p-b-175 { padding-bottom: 1.75em; }
.p-l-175 { padding-left: 1.75em; }
.p-bl-175 { padding-block: 1.75em; }
.p-in-175 { padding-inline: 1.75em; }

.p-a-200 { padding: 2em; }
.p-t-200 { padding-top: 2em; }
.p-r-200 { padding-right: 2em; }
.p-b-200 { padding-bottom: 2em; }
.p-l-200 { padding-left: 2em; }
.p-bl-200 { padding-block: 2em; }
.p-in-200 { padding-inline: 2em; }

.p-a-300 { padding: 3em; }
.p-t-300 { padding-top: 3em; }
.p-r-300 { padding-right: 3em; }
.p-b-300 { padding-bottom: 3em; }
.p-l-300 { padding-left: 3em; }
.p-bl-300 { padding-block: 3em; }
.p-in-300 { padding-inline: 3em; }

.p-a-400 { padding: 4em; }
.p-t-400 { padding-top: 4em; }
.p-r-400 { padding-right: 4em; }
.p-b-400 { padding-bottom: 4em; }
.p-l-400 { padding-left: 4em; }
.p-bl-400 { padding-block: 4em; }
.p-in-400 { padding-inline: 4em; }

.p-a-500 { padding: 5em; }
.p-t-500 { padding-top: 5em; }
.p-r-500 { padding-right: 5em; }
.p-b-500 { padding-bottom: 5em; }
.p-l-500 { padding-left: 5em; }
.p-bl-500 { padding-block: 5em; }
.p-in-500 { padding-inline: 5em; }

.p-a-600 { padding: 6em; }
.p-t-600 { padding-top: 6em; }
.p-r-600 { padding-right: 6em; }
.p-b-600 { padding-bottom: 6em; }
.p-l-600 { padding-left: 6em; }
.p-bl-600 { padding-block: 6em; }
.p-in-600 { padding-inline: 6em; }

.p-a-700 { padding: 7em; }
.p-t-700 { padding-top: 7em; }
.p-r-700 { padding-right: 7em; }
.p-b-700 { padding-bottom: 7em; }
.p-l-700 { padding-left: 7em; }
.p-bl-700 { padding-block: 7em; }
.p-in-700 { padding-inline: 7em; }

.p-a-800 { padding: 8em; }
.p-t-800 { padding-top: 8em; }
.p-r-800 { padding-right: 8em; }
.p-b-800 { padding-bottom: 8em; }
.p-l-800 { padding-left: 8em; }
.p-bl-800 { padding-block: 8em; }
.p-in-800 { padding-inline: 8em; }

.p-a-900 { padding: 9em; }
.p-t-900 { padding-top: 9em; }
.p-r-900 { padding-right: 9em; }
.p-b-900 { padding-bottom: 9em; }
.p-l-900 { padding-left: 9em; }
.p-bl-900 { padding-block: 9em; }
.p-in-900 { padding-inline: 9em; }

/* Margin */

.m-a-0 { margin: 0em; }
.m-t-0 { margin-top: 0em; }
.m-r-0 { margin-right: 0em; }
.m-b-0 { margin-bottom: 0em; }
.m-l-0 { margin-left: 0em; }
.m-bl-0 { margin-block: 0em; }
.m-in-0 { margin-inline: 0em; }

.m-a-025 { margin: 0.25em; }
.m-t-025 { margin-top: 0.25em; }
.m-r-025 { margin-right: 0.25em; }
.m-b-025 { margin-bottom: 0.25em; }
.m-l-025 { margin-left: 0.25em; }
.m-bl-025 { margin-block: 0.25em; }
.m-in-025 { margin-inline: 0.25em; }

.m-a-050 { margin: 0.50em; }
.m-t-050 { margin-top: 0.50em; }
.m-r-050 { margin-right: 0.50em; }
.m-b-050 { margin-bottom: 0.50em; }
.m-l-050 { margin-left: 0.50em; }
.m-bl-050 { margin-block: 0.50em; }
.m-in-050 { margin-inline: 0.50em; }

.m-a-075 { margin: 0.75em; }
.m-t-075 { margin-top: 0.75em; }
.m-r-075 { margin-right: 0.75em; }
.m-b-075 { margin-bottom: 0.75em; }
.m-l-075 { margin-left: 0.75em; }
.m-bl-075 { margin-block: 0.75em; }
.m-in-075 { margin-inline: 0.75em; }

.m-a-100 { margin: 1em; }
.m-t-100 { margin-top: 1em; }
.m-r-100 { margin-right: 1em; }
.m-b-100 { margin-bottom: 1em; }
.m-l-100 { margin-left: 1em; }
.m-bl-100 { margin-block: 1em; }
.m-in-100 { margin-inline: 1em; }

.m-a-150 { margin: 1.5em; }
.m-t-150 { margin-top: 1.5em; }
.m-r-150 { margin-right: 1.5em; }
.m-b-150 { margin-bottom: 1.5em; }
.m-l-150 { margin-left: 1.5em; }
.m-bl-150 { margin-block: 1.5em; }
.m-in-150 { margin-inline: 1.5em; }

.m-a-200 { margin: 2em; }
.m-t-200 { margin-top: 2em; }
.m-r-200 { margin-right: 2em; }
.m-b-200 { margin-bottom: 2em; }
.m-l-200 { margin-left: 2em; }
.m-bl-200 { margin-block: 2em; }
.m-in-200 { margin-inline: 2em; }

.m-a-300 { margin: 3em; }
.m-t-300 { margin-top: 3em; }
.m-r-300 { margin-right: 3em; }
.m-b-300 { margin-bottom: 3em; }
.m-l-300 { margin-left: 3em; }
.m-bl-300 { margin-block: 3em; }
.m-in-300 { margin-inline: 3em; }

.m-a-400 { margin: 4em; }
.m-t-400 { margin-top: 4em; }
.m-r-400 { margin-right: 4em; }
.m-b-400 { margin-bottom: 4em; }
.m-l-400 { margin-left: 4em; }
.m-bl-400 { margin-block: 4em; }
.m-in-400 { margin-inline: 4em; }

.m-a-500 { margin: 5em; }
.m-t-500 { margin-top: 5em; }
.m-r-500 { margin-right: 5em; }
.m-b-500 { margin-bottom: 5em; }
.m-l-500 { margin-left: 5em; }
.m-bl-500 { margin-block: 5em; }
.m-in-500 { margin-inline: 5em; }

.m-a-600 { margin: 6em; }
.m-t-600 { margin-top: 6em; }
.m-r-600 { margin-right: 6em; }
.m-b-600 { margin-bottom: 6em; }
.m-l-600 { margin-left: 6em; }
.m-bl-600 { margin-block: 6em; }
.m-in-600 { margin-inline: 6em; }

.m-a-700 { margin: 7em; }
.m-t-700 { margin-top: 7em; }
.m-r-700 { margin-right: 7em; }
.m-b-700 { margin-bottom: 7em; }
.m-l-700 { margin-left: 7em; }
.m-bl-700 { margin-block: 7em; }
.m-in-700 { margin-inline: 7em; }

.m-a-800 { margin: 8em; }
.m-t-800 { margin-top: 8em; }
.m-r-800 { margin-right: 8em; }
.m-b-800 { margin-bottom: 8em; }
.m-l-800 { margin-left: 8em; }
.m-bl-800 { margin-block: 8em; }
.m-in-800 { margin-inline: 8em; }

.m-a-900 { margin: 9em; }
.m-t-900 { margin-top: 9em; }
.m-r-900 { margin-right: 9em; }
.m-b-900 { margin-bottom: 9em; }
.m-l-900 { margin-left: 9em; }
.m-bl-900 { margin-block: 9em; }
.m-in-900 { margin-inline: 9em; }

/* Font colors */
.fc-bl { color: black; }
.fc-wh { color: white; }

.fc-p { color: var(--color-primary); }
.fc-s { color: var(--color-secondary); }
.fc-t { color: var(--color-tertiary); }

.fc-1 { color: var(--fc-display); }
.fc-2 { color: var(--fc-body); }
.fc-3 { color: var(--fc-subtle); }

.fc-n-100 { color: var(--color-neutral-100); }
.fc-n-200 { color: var(--color-neutral-200) ; }
.fc-n-300 { color: var(--color-neutral-300) ; }
.fc-n-400 { color: var(--color-neutral-400) ; }
.fc-n-500 { color: var(--color-neutral-500) ; }
.fc-n-600 { color: var(--color-neutral-600) ; }
.fc-n-700 { color: var(--color-neutral-700) ; }
.fc-n-800 { color: var(--color-neutral-800) ; }
.fc-n-900 { color: var(--color-neutral-900) ; }

.fs-xxl { font-size: var(--font-size-xxl); }
.fs-xl { font-size: var(--font-size-xl); }
.fs-lg { font-size: var(--font-size-lg); }
.fs-md { font-size: var(--font-size-md); }
.fs-sm { font-size: var(--font-size-sm); }
.fs-xs { font-size: var(--font-size-xs); }

.fw-1 { font-weight: 100 }
.fw-2 { font-weight: 200 }
.fw-3 { font-weight: 300 }
.fw-4 { font-weight: 400 }
.fw-5 { font-weight: 500 }
.fw-6 { font-weight: 600 }
.fw-7 { font-weight: 700 }

/* Borders */

.bd-t { border-top: 1px solid var(--color-border); }
.bd-r { border-right: 1px solid var(--color-border); }
.bd-b { border-bottom: 1px solid var(--color-border); }
.bd-l { border-left: 1px solid var(--color-border); }

.bdr-sm { border-radius: var(--br-sm); }
.bdr-md { border-radius: var(--br-md); }
.bdr-lg { border-radius: var(--br-lg); }

/* Line clamp */

.lc-1, .lc-2, .lc-3 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.lc-1 { -webkit-line-clamp: 1; }
.lc-2 { -webkit-line-clamp: 2; }
.lc-3 { -webkit-line-clamp: 3; }

/* Background */

.bg-s1 { background-color: var(--surface-hi); }
.bg-s2 { background-color: var(--surface-mid); }
.bg-s3 { background-color: var(--surface-low); }