{{ $limit := 9999 }}
{{ if .limit }}{{ $limit = .limit }}{{ end }}

{{ $pages := where site.RegularPages "Type" "thoughts" }}

<ul class="article-list">
    {{ range sort $pages.ByWeight | first $limit }}
        <li class="list-item fbr">
            {{ $publishDate := (time.AsTime (.Param "published"))}}
            {{ $publishDate := time.Format "Jan 2, 2006" $publishDate }}

            <div class="hide-b-sm">
                <div class="subtle meta-span-block f-0 fbr">
                    <span>{{ $publishDate }}</span>
                </div>
            </div>    
            
            <div class="f-1">
                <h2 class="fs-1"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                <div class="hide-a-sm">
                    <div class="subtle meta-span-block f-0 fbr">
                        <span>{{ $publishDate }}</span>
                    </div>
                </div>
            </div>
        </li>
    {{ end }}
</ul>