<header class="flex">
    <div id="identity" class="flex-grow handwritten">
        <span class="nav-link identity-type hide-b-sm">
            <a href="/" class="link-clear">Matthew Dillard</a>
        </span>
        <a href="/" class="identity-img hide-a-sm">
            <img class="typemark" src="/images/typemark.svg">
        </a>
    </div>
    <div class="flex-shrink handwritten">
        <span class="nav-link pd-ll work"><a class="link-clear" href="/projects">Projects</a></span>
        <!-- <span class="nav-link pd-ll about"><a class="link-clear" href="/education">Education</a></span> -->
        <span class="nav-link pd-ll about"><a class="link-clear" href="/thoughts">Thoughts</a></span>
    </div>


</header>
<!-- <h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
