<header class="flex">
    <div class="flex-grow handwritten">
        <span class="nav-link"><a href="/" class="link-clear">Matthew Dillard</a></span>
    </div>
    <div class="flex-shrink handwritten">
        <span class="nav-link pd-ll work"><a class="link-clear" href="/work">Work</a></span>
        <span class="nav-link pd-ll about"><a class="link-clear" href="/education">Education</a></span>
    </div>


</header>
<!-- <h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->
