.work-list .list-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        
    }
    p, h2 {
        margin-top: 0px;
    }

    .year-span-block {
        width: calc(var(--cell-size) * 4);
    }
}



.postit__wrap {
    padding: var(--cell-size);
}

.postit {
    position: relative;
    transition: all 0.33s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5vh;
    background: #F5DB11;
    padding: 7%;
    
    .postit__text {
        position: relative;
        display: flex;
        align-items: center;
        aspect-ratio: 1;
        
        textarea {
            font-family: 'Gold Post';
            resize: none;
            font-size: 4vh;
            line-height: 1.3;
            text-transform: capitalize;
        
            background: none;
            border: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        textarea:focus-visible {
            outline: none;
        }
    }   
    
    .postit-shadow {
        opacity: 0.25;
        filter: blur(11px);
        background-image: linear-gradient(359deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 73%);
        position: absolute;
        inset: 0%;
        z-index: -1;
        transition: opacity 0.33s ease-in;
    }

    &:hover .postit-shadow {
        opacity: 0.4;
    }
}


