.work-list .list-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        
    }
    p, h2 {
        margin-top: 0px;
    }

    .year-span-block {
        width: calc(var(--cell-size) * 4);
    }
}

.sticky {
    position: relative;
    transition: all 0.33s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5vh;
    background: #F5DB11;
    padding: 7%;
    
    .sticky__text {
        font-family: 'Gold Post';
        position: relative;
        display: flex;
        align-items: center;
        aspect-ratio: 1;
    }
    
    text-area {
        resize: none;
        font-family: inherit;
        font-size: 4vh;
        line-height: 1.3;
        text-transform: capitalize;
    
        background: none;
        border: none;
        width: 100%;
        overflow: hidden;
    }
    
    text-area:focus-visible {
        outline: none;
    }
}

