.work-list .list-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        
    }
    p, h2 {
        margin-top: 0px;
    }

    .year-span-block {
        width: calc(var(--cell-size) * 4);
    }
}

