.project-list .list-item { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h2 {
        
    }
    p, h2 {
        margin-top: 0px;
    }

    &:not(:last-child) {
        margin-bottom: var(--cell-size);
    }

}
.meta-span-block {
    width: calc(var(--cell-size) * 4);
}



.postit__wrap {
    padding: var(--cell-size);
}

.postit {
    position: relative;
    transition: all 0.33s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 0.5vh;
    background: #F5DB11;
    padding: 7%;
    
    .postit__text {
        position: relative;
        display: flex;
        align-items: center;
        aspect-ratio: 1;
        
        textarea {
            font-family: 'Gold Post';
            resize: none;
            font-size: 4vh;
            line-height: 1.3;
            text-transform: capitalize;
        
            background: none;
            border: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        textarea:focus-visible {
            outline: none;
        }
    }   
    
    .postit-shadow {
        opacity: 0.25;
        filter: blur(11px);
        background-image: linear-gradient(359deg, rgb(0, 0, 0), rgba(0, 0, 0, 0) 73%);
        position: absolute;
        inset: 0%;
        z-index: -1;
        transition: opacity 0.33s ease-in;
    }

    &:hover .postit-shadow {
        opacity: 0.4;
    }
}

:has(> iframe[src^="https://www.youtube.com"]) {
    padding-bottom: 60% !important;
}

// Taxonomy

.taxonomy-list {
    list-style: none;
    padding-inline: var(--text-h-offset);
    margin-block: var(--cell-size);
    
    li {
        display: inline-block;
    }

    li:last-child {
        margin-right: 0px;
    }
}

// Projects
.project-list {
    padding-inline:  0px;
}

.filter-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--color-grid-line);
    margin-bottom: var(--cell-size);
}

// Custom checkbox
// Modified from: https://www.geeksforgeeks.org/css/how-to-style-a-checkbox-using-css/

.form-field.radio {
    position: relative;
    cursor: pointer;
    padding-left: calc(var(--cell-size) * 0.75);
}

.form-field label {
    cursor: pointer;
    padding-inline: calc(var(--cell-size) * 0.25);
    display: inline-block;
}

.form-field input[type=radio] {
    visibility: hidden;
    position: absolute;
}

.pseudobox {
    position: absolute;
    top: calc(calc(var(--cell-size) * (1 - 0.62)) * 0.5);
    left: calc(calc(var(--cell-size) * (1 - 0.62)) * 0.5);
    height: calc(var(--cell-size) * 0.62);
    width: calc(var(--cell-size) * 0.62);
    background-color: transparent;
    border: 1px solid var(--text-color-light);
    border-radius: 99px;
}

/* Hover effect */
.form-field:hover input~.pseudobox,
.form-field input:checked~.pseudobox {
    border-color: var(--color-primary);
}

/* Checkmark */
.pseudobox::after {
    content: "";
    position: absolute;
    display: none;
    background-color: var(--color-primary);
    left: 20%;
    top: 20%;
    width: calc(var(--cell-size) * 0.33);
    height: calc(var(--cell-size) * 0.33);
    border-radius: 99px;
}

.form-field input:checked~.pseudobox::after {
    display: block;
}

// List filter 

#filter-personal:checked ~ .project-list .cat--work { display: none; }
#filter-work:checked ~ .project-list .cat--personal { display: none; }
#filter-work:checked ~ .project-list .cat--personal { display: none; }