@import '/flex.scss';
@import '/typography.scss';
@import '/components.scss';
@import '/mixins.scss';
@import '/variables.scss';
@import '/util.scss';
@import '/responsive.scss';



* {
  box-sizing: border-box;
//   text-decoration-thickness: from-font;
}

.bg-texture {
  position: absolute;
  mix-blend-mode: multiply;
  background-position: 0 0;
  inset: 0%;
  height: inherit;
  z-index: -3;
  opacity: .15;
  background-image: url("/images/security-envelope-248.png");
  background-size: 30vw;
}

article {
  width: 100%;
}

.article-list {
    h1, h2, h3, h4, h5, h6, p, span {
        margin-bottom: 0px;
    }
    .list-item {
        margin-bottom: var(--cell-size);
    }
}


// Table

td, th {
    padding: 0px calc(var(--text-h-offset) * 3) 0px var(--text-h-offset);
}

tr {
    box-shadow: 0px 1px 0px var(--color-grid-line);
}

tbody tr > td:last-child {
    padding: 0px var(--text-h-offset);
}

// tr:first-child {
//     box-shadow: 0px -1px 0px var(--color-grid-line), 0px 1px 0px var(--color-grid-line);
// }