// MIXINS

@mixin heading-base {
  font-family: var(--font-family-primary);
  color: var(--text-heading-color);
  margin: var(--grid-base) 0 0 0;
}

@mixin grid-aligned-text($font-size-var, $font-unit-var, $grid-offset-var) {
  font-size: var($font-size-var);
  line-height: calc((var(--grid-base-unit)/#{$font-unit-var}) * 100%);
  padding-top: var($grid-offset-var);
  margin: 0 0 var(--grid-base) 0;
}

@mixin grid-aligned-heading($font-size-var, $font-unit-var, $grid-offset-var) {
  font-size: var($font-size-var);
  line-height: calc((var(--grid-base-unit)/#{$font-unit-var}) * 100%);
  padding-top: var(--grid-base);
  margin: var(--grid-base) 0;
}

@mixin spacer-inst($mult) {
    height: calc(var(--grid-base) * #{$mult});
  }
