/* Responsive sizing */

@media screen and (max-width: 832px) {
  :root {
    --viewport-cells: 52;
    --font-size: calc(100vw / var(--viewport-cells));
    --grid-padding: 3;
    --grid-cells: 26;
  }
}

@media screen and (max-width: 728px) {
  :root {
    --viewport-cells: 48;
    --grid-padding: 2;
    --grid-cells: 24;
  }
}

@media screen and (max-width: 672px) {
  :root {
    --viewport-cells: 32;
    --grid-padding: 2;
    --grid-cells: 16;
  }
}

@media screen and (max-width: 441px) {
  :root {
    --viewport-cells: 28;
    --grid-padding: 1;
    --grid-cells: 14;
  }
}