/* Responsive sizing */

@media screen and (max-width: 900px) {
  :root {
    --grid-cells: 30;
    --grid-padding: 3;
    // --font-size: calc(100vw / calc(var(--grid-cells) * 2));
  }
}

@media screen and (max-width: 720px) {
  :root {
    --grid-cells: 24;
    --grid-padding: 2;
  }
}

@media screen and (max-width: 576px) {
  :root {
    --grid-cells: 20;
    --grid-padding: 2;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --grid-cells: 16;
    // --grid-padding: 2; pair w/ 16
    --grid-padding: 1;
  }
}

@media screen and (max-width: 384px) {
  :root {
    --grid-cells: 14;
    --grid-padding: 1;
  }
}