@import '/variables.scss';
@import '/mixins.scss';

// Headers

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
summary {
  padding: 0px var(--text-h-offset);
}

h1, .fs-6 {
  font-weight: 700;
  font-size: var(--font-size-600);
  margin-top: var(--cell-size);
}

h2, .fs-5 {
  font-size: var(--font-size-500);
  margin-block: var(--cell-size);
  font-weight: 600;
}

h3, .fs-4 {
  font-size: var(--font-size-400);
  margin-block: var(--cell-size);
  font-weight: 600;
}

h4, .fs-3 {
  font-size: var(--font-size-300);
  margin-top: var(--cell-size);
  font-weight: 500;
}

h5, .fs-2 {
  font-size: var(--font-size-200);
  margin-top: var(--cell-size);
  font-weight: 500;
}

h6, .fs-1 {
  font-size: var(--font-size-100);
  margin-top: var(--cell-size);
  font-weight: 500;
}

// Paragraph

p {
  margin-top: var(--cell-size);
}

// Blockquote

blockquote {
    padding-inline: calc(var(--cell-size) - 2px) var(--cell-size);
    border-left: 2px solid var(--color-blockquote-border);
    color: var(--color-blockquote-text);
    margin-block: var(--cell-size);
}



// Links
a,
.font-link {
    color: inherit;
}

a:hover {
    color: var(--color-olive);
}

.link-clear {
    text-decoration: none;
}

.link-hide {
    text-decoration: none;
}

.link-hide:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: none;
}

// Identity
#identity {
    font-family: var(--font-handwritten);
    font-size: calc(var(--font-size) * 2);
    transform: translateY(calc(var(--font-size) * .3));
}
// Lists

ul,
ol {
  margin-top: 0;
  padding-right: var(--text-h-offset);
  list-style-position: inside;
}

ul {
    padding-left: calc(var(--cell-size) * 1.4);
}

ol {
padding-left: var(--cell-size);
  list-style: none;
  counter-reset: list_counter;
}

ol li {
  counter-increment: list_counter;
}

ol li::before {
  content: counter(list_counter) ". ";
  width: var(--cell-size);
  height: var(--cell-size);
  display: inline-block;
  line-height: var(--cell-size);
  text-align: center;
  margin-right: var(--text-h-offset);
}

// Details/summary

details:hover summary {
    cursor: pointer;
    color: var(--color-text-hover);
}

summary:focus-visible {
    outline: var(--color-text-hover) 1px auto;
    border-radius: 0px;
}

details {
    margin-top: var(--cell-size);
    box-shadow: 0px 1px 0px var(--color-grid-line);
}

details nav ul {
    margin-bottom: var(--cell-size);
    padding-bottom: var(--cell-size);
}

p a[href^="https://www"]:not([href*="matthewdillard.me"]),span a[href^="https://www"]:not([href*="matthewdillard.me"]) {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    margin: 0;
    text-decoration: underline
}

p a[href^="https://www"]:not([href*="matthewdillard.me"]):hover,span a[href^="https://www"]:not([href*="matthewdillard.me"]):hover {
    text-decoration: underline
}

p a[href^="https://www"]:not([href*="matthewdillard.me"])::after,span a[href^="https://www"]:not([href*="matthewdillard.me"])::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .1em;
    background-color: #aaa;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>')no-repeat center;
    mask-size: contain;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>')no-repeat center;
    -webkit-mask-size: contain;
    opacity: 1
}