@import '/variables.scss';
@import '/mixins.scss';

// Headers

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
summary {
  padding: 0px var(--text-h-offset);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1, .fs-6 {
  font-weight: 600;
  font-size: var(--font-size-600);

  margin-top: var(--cell-size);
}

h2, .fs-5 {
  font-size: var(--font-size-500);
  margin-block: var(--cell-size);
  font-weight: 600;
}

h3, .fs-4 {
  font-size: var(--font-size-400);
  margin-block: var(--cell-size);
  font-weight: 500;
}

h4, .fs-3 {
  font-size: var(--font-size-300);
  font-weight: 500;
}

h5, .fs-2 {
  font-size: var(--font-size-200);
  font-weight: 500;
}

h6, .fs-1 {
  font-size: var(--font-size-100);
  font-weight: 500;
}

// Paragraph

p {
  margin-top: var(--cell-size);
}

// Links
a,
.font-link {
  color: inherit;
}

a:hover {
  color: var(--color-olive);
}

.link-clear {
  text-decoration: none;
}

.link-hide {
  text-decoration: none;
}

.link-hide:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: none;
}


// Lists

ul,
ol {
  margin-top: 0;
  padding-right: var(--text-h-offset);
  list-style-position: inside;
}

ul {
    padding-left: calc(var(--cell-size) * 1.4);
}

ol {
padding-left: var(--cell-size);
  list-style: none;
  counter-reset: list_counter;
}

ol li {
  counter-increment: list_counter;
}

ol li::before {
  content: counter(list_counter) ". ";
  width: var(--cell-size);
  height: var(--cell-size);
  display: inline-block;
  line-height: var(--cell-size);
  text-align: center;
  margin-right: var(--text-h-offset);
}

// Details/summary

details:hover summary {
    cursor: pointer;
    color: var(--color-text-hover);
}

summary:focus-visible {
    outline: var(--color-text-hover) 1px auto;
    border-radius: 0px;
}

details {
    margin-top: var(--cell-size);
    box-shadow: 0px 1px 0px var(--color-grid-line);
}
