@import '/variables.scss';
@import '/mixins.scss';

.sans {
  --font-family-primary: #{$font-sans};
}

.serif {
  --font-family-primary: #{$font-serif};
}

.new-serif {
  --font-family-primary: #{$font-new-serif};


  p,
  li,
  span,
  .font-body,
  ul,
  ol,
  a,
  blockquote {
    font-weight: 500;
  }
}


// Apply base styles to all headings
h1,
.title-xl,
h2,
.title-lg,
h3,
.title-md,
h4,
.title-sm,
h5,
.title-xs,
h6,
.title-xxs {
  @include heading-base;
}

// —— Markdown 
h1,
.font-title-xl {
  font-weight: 700;
  @include grid-aligned-text(--font-size-h1, $font-unit-h1, --grid-offset-h1);
}

h2,
.font-title-lg {
  font-weight: 600;
  @include grid-aligned-text(--font-size-h2, $font-unit-h2, --grid-offset-h2);
}

h3,
.font-title-md {
  font-weight: 600;
  @include grid-aligned-text(--font-size-h3, $font-unit-h3, --grid-offset-h3);
}

h4,
.font-title-sm {
  font-weight: 600;
  @include grid-aligned-text(--font-size-h4, $font-unit-h4, --grid-offset-h4);
}

h5,
.font-title-xs {
  font-weight: 600;
  @include grid-aligned-text(--font-size-h5, $font-unit-h5, --grid-offset-h5);
}

h6,
.font-title-xxs {
  font-weight: 600;
  @include grid-aligned-text(--font-size-h6, $font-unit-h6, --grid-offset-h6);
}

p,
li,
span,
.font-body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p);
  line-height: calc(200% * var(--scale-factor));
  padding: var(--grid-offset-p) 0 calc(var(--grid-base) - calc(1 * var(--grid-offset-p))) 0;
  letter-spacing: calc(0.33px * var(--scale-factor));
  margin: 0;
  color: var(--text-body-color);
}

a,
.font-link {
  color: inherit;
}

.link-clear {
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
}

blockquote {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-p);
  line-height: calc((var(--grid-base-unit) / #{$font-unit-p}) * 100%);
  border-left: calc(4px * var(--scale-factor)) solid var(--blockquote-border-color);
  margin-block: var(--grid-base);
  padding: calc(var(--grid-base) + var(--grid-offset-p)) var(--grid-base) calc(var(--grid-base) - var(--grid-offset-p)) var(--grid-base);
  margin: 0;
  color: var(--text-body-color);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: var(--grid-base);
  padding-left: var(--grid-base);
  margin: 0;
}
