.fbr {
  display: flex;
  flex-direction: row;
}

.fbc {
  display: flex;
  flex-direction: column;
}

.f-1 {
  flex: 1;
}

.f-0 {
  flex: 0 0 auto;
}

.pd {
  &-t {
    padding-top: 0.5rem;
  }

  &-r {
    padding-right: 0.5rem;
  }

  &-b {
    padding-bottom: 0.5rem;
  }

  &-l {
    padding-left: 0.5rem;
  }

  &-tt {
    padding-top: 1rem;
  }

  &-rr {
    padding-right: 1rem;
  }

  &-bb {
    padding-bottom: 1rem;
  }

  &-ll {
    padding-left: 1rem;
  }

  &-ttt {
    padding-top: 2rem;
  }

  &-rrr {
    padding-right: 2rem;
  }

  &-bbb {
    padding-bottom: 2rem;
  }

  &-lll {
    padding-left: 2rem;
  }
}

.mg {
  &-t {
    margin-top: 0.5rem;
  }

  &-r {
    margin-right: 0.5rem;
  }

  &-b {
    margin-bottom: 0.5rem;
  }

  &-l {
    margin-left: 0.5rem;
  }

  &-tt {
    margin-top: 1rem;
  }

  &-rr {
    margin-right: 1rem;
  }

  &-bb {
    margin-bottom: 1rem;
  }

  &-ll {
    margin-left: 1rem;
  }

  &-ttt {
    margin-top: 2rem;
  }

  &-rrr {
    margin-right: 2rem;
  }

  &-bbb {
    margin-bottom: 2rem;
  }

  &-lll {
    margin-left: 2rem;
  }
}

// Aspect ratios
// Portrait
.ar-pppp {
  &.cv, &.ct {
    aspect-ratio: 1 / 2;
  }
}

.ar-ppp {
  @media screen and (min-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: .625;
    }
  }
  @media screen and (max-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: .666;
    }
  }
}

.ar-pp {
    &.cv, &.ct {
      aspect-ratio: .75;
    }
}

.ar-p { &.cv, &.ct { aspect-ratio: .8; } }

// Square
.ar-s {
    &.cv, &.ct {
      aspect-ratio: 1;
    }
}

// Landscape
.ar-l {
  @media screen and (min-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: 10 / 8;
    }
  }
  @media screen and (max-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: 12 / 10;
    }
  }
}

.ar-ll {
    &.cv, &.ct {
      aspect-ratio: 4 / 3;
    }
}

.ar-lll {
  @media screen and (min-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: 5 / 3;
    }
  }
  @media screen and (max-width: 441px) {
    &.cv, &.ct {
      aspect-ratio: 12 / 7;
    }
  }
}

.ar-llll {
    &.cv,
    &.ct {
        aspect-ratio: 2 / 1;
    }
}

.ar-lllll {
    &.cv,
    &.ct {
      aspect-ratio: 4 / 1;
    }
}

.ar-l,
.ar-ll,
.ar-lll,
.ar-llll,
.ar-lllll,
.ar-s,
.ar-pppp,
.ar-ppp,
.ar-pp,
.ar-p {
  &.cv {
    img {
      object-fit: cover;
    }
  }

  &.ct {
    img {
      object-fit: contain;
    }
  }

  &.cv,
  &.ct {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
