.fbr {
    display: flex;
    flex-direction: row;
}

.fbc {
    display: flex;
    flex-direction: column;
}

.f-1 {
    flex: 1;
}

.f-0 {
    flex: 0 0 auto;
}

.pd {
    &-t { padding-top: 0.5rem; }
    &-r { padding-right: 0.5rem; }
    &-b { padding-bottom: 0.5rem; }
    &-l { padding-left: 0.5rem; }
    
    &-tt { padding-top: 1rem; }
    &-rr { padding-right: 1rem; }
    &-bb { padding-bottom: 1rem; }
    &-ll { padding-left: 1rem; }
    
    &-ttt { padding-top: 2rem; }
    &-rrr { padding-right: 2rem; }
    &-bbb { padding-bottom: 2rem; }
    &-lll { padding-left: 2rem; }
}

.mg {
    &-t { margin-top: 0.5rem; }
    &-r { margin-right: 0.5rem; }
    &-b { margin-bottom: 0.5rem; }
    &-l { margin-left: 0.5rem; }
    
    &-tt { margin-top: 1rem; }
    &-rr { margin-right: 1rem; }
    &-bb { margin-bottom: 1rem; }
    &-ll { margin-left: 1rem; }
    
    &-ttt { margin-top: 2rem; }
    &-rrr { margin-right: 2rem; }
    &-bbb { margin-bottom: 2rem; }
    &-lll { margin-left: 2rem; }
}


// For large viewport
.ar-4-1 img { aspect-ratio: 4 / 1; } // 4

.ar-10-3 img { aspect-ratio: 10 / 3; } // 3.333

.ar-2-1 img { aspect-ratio: 2 / 1; } // 2

.ar-5-3 img { aspect-ratio: 5 / 3; } // 1.666

.ar-10-7 img { aspect-ratio: 10 / 7; } // 1.429

.ar-4-3 img { aspect-ratio: 4 / 3; } // 1.333

.ar-10-8 img { aspect-ratio: 10 / 8; } // 1.25 

.ar-10-9 img { aspect-ratio: 10 / 8; } // 1.111 

.ar-1-1 img { aspect-ratio: 1 / 1; } // 1

// For smaller viewport
.ar-4-1 img { aspect-ratio: 4 / 1; } // 4

.ar-8-3 img { aspect-ratio: 8 / 3; } // 2.666

.ar-2-1 img { aspect-ratio: 2 / 1; } // 2

.ar-8-5 img { aspect-ratio: 8 / 5; } // 1.6

.ar-4-3 img { aspect-ratio: 4 / 3; } // 1.333

.ar-8-7 img { aspect-ratio: 8 / 7; } // 1.14

.ar-1-1 img { aspect-ratio: 1 / 1; } // 1 