:root {
  --font-size: 16px;
  --cell-size: calc(var(--font-size) * 2);
  --cell-spacing: calc(var(--cell-size) / 2);
  --grid-padding: 3;
  --grid-cells: 26;

  /* Viewport sizing */

  /* Base Grid Configuration */
  --grid-base-default: 32px;

  /* Color */
  --color-moss: #565e3b;
  --color-green: #6a8616;
  --color-yellow: #ffdc13;
  --color-olive: #677736;
  
  --color-grid-line: #a1c6ba;
  --color-text-base: #2a2624;
  --color-text-light: #857e7a;
  --color-text-hover: var(--color-olive);
  --color-blockquote-border: var(--color-olive);
  --color-bg: #faf9f2;

  /* TYPOGRAPHY */

  /* Font Families */

  --font-sans: "Inter", sans-serif;
  --font-serif: "Inclusive Sans", serif;
  --font-handwritten: "MD038", sans-serif;
  --font-sharpie: "Canary Post", sans-serif;

  --font-size-600: calc(var(--font-size) * 1.4);
  --font-size-500: calc(var(--font-size) * 1.2);
  --font-size-400: calc(var(--font-size) * 1.1);
  --font-size-300: calc(var(--font-size) * 1.05);
  --font-size-200: calc(var(--font-size) * 1.025);
  --font-size-100: calc(var(--font-size) * 1.0125);
  --font-size-000: var(--font-size);

  /* Grid Sizing */
  --text-h-offset: calc(var(--font-size) / 3);

  /* Theme Colors */
  --grid-paper-bg: var(--color-paper-bg);
  --grid-line-color: var(--color-grid-line);
  --text-heading-color: var(--color-text-base);
  --text-body-color: var(--color-text-base);
  --text-color-light: var(--color-text-light);
  --blockquote-border-color: var(--color-blockquote-border);
  --font-family-primary: var(--font-serif);
}