{{ define "main" }}
<p>this is a work list</p>
<article class="grid-paper">
    <div class="grid-paper__text">
        {{ partial "header.html" . }}
        <div class="spacer__sm"></div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ range .Pages }}
            <h2><a class="link-hide" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <p>{{ .Description }}</p>
        {{ end }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    <div class="grid-paper-lines"></div>
</article>


{{ end }}
