{{ define "main" }}
<article class="grid-paper">
    <div class="grid-paper__text">
        {{ partial "header.html" . }}
        <div class="spacer__sm"></div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ range .Pages }}
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            {{ .Description }}
        {{ end }}
        <!-- {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }} -->
    </div>
    <div class="grid-paper-lines"></div>
    <div class="bg__texture"></div>
    <div class="bg__color"></div>
</article>
{{ end }}