{{ define "main" }}
<article class="grid-wrap">
    {{ partial "header.html" . }}
    <div class="spacer__sm"></div>
    <div class="grid-wrap__text">
        <h1>{{ .Title }}</h1>
        <div class="spacer__sm"></div>
        {{ .Content }}
        <div class="article-list project-list">
            {{ range sort .Pages.ByWeight }}
                {{ partial "project-item.html" . }}
            {{ end }}
        </div>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    {{ partial "grid-paper.html" .}}
</article>


{{ end }}
