{{ define "main" }}
<article class="grid-wrap">
    {{ partial "header.html" . }}
    <div class="spacer__sm"></div>
    <div class="grid-wrap__text">
        <h1>{{ .Title }}</h1>
        <div class="spacer__sm"></div>
        {{ .Content }}
        <div class="filter-row">
            <span class="fw-6">Categories:</span>
            <div class="form-field checkbox">
                <label for="filter-work">
                    Work
                    <input type="checkbox" name="filter" id="filter-work" checked>
                    <span class="pseudobox"></span>
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="filter-school">
                    School
                    <input type="checkbox" name="filter" id="filter-school" checked>
                    <span class="pseudobox"></span>
                </label>
            </div>
            <div class="form-field checkbox">
                <label for="filter-personal">
                    Personal
                    <input type="checkbox" name="filter" id="filter-personal" checked>
                    <span class="pseudobox"></span>
                </label>
            </div>
        </div>
        <ul class="article-list project-list">
            {{ range sort .Pages.ByWeight }}
                {{ partial "project-item.html" . }}
            {{ end }}
        </ul>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
    {{ partial "grid-paper.html" .}}
</article>


{{ end }}
